version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ticket_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/db/init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6380:6379"

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    environment:
      - SERVER_PORT=8080
      - SERVER_ENV=prod
      # Database Config
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASS=password
      - DB_NAME=ticket_db
      - DB_SSLMODE=disable
      # Redis Config
      - REDIS_ADDR=redis:6379

volumes:
  postgres_data:


