version: '3.8'
services:
  test-runner:
    build:
      context: .
      target: builder
    command: sh -c "go mod tidy && go test -v ./tests/integration/..."
    volumes:
      - .:/app
    environment:
      - TEST_DSN=host=postgres user=user password=password dbname=ticket_db port=5432 sslmode=disable
    depends_on:
      - postgres
